{% extends "layout.html" %}
	{% block content %}
<div class="col-md-10 lab-list-col-10">		
<h1 class="text-h2-lightblue">Forming Sentences - 2</h1><div class="content" id="experiment-article-section-3-content">
<hr><br>
<div style="font-size:30px;">
The objective of this experiment is to get you introduced with the 4 types of sentences namely simple,compound,complex and compound-complex sentences.<br>
Here you will learn how to identify these sentences and what is the difference between them...
<br><br><hr>
</div>
</hr></br></br></br></hr></div>						</div>
			{% endblock %}