{% extends "layout.html" %}
	{% block content %}
<div class="col-md-10 lab-list-col-10">
<h1 class="text-h2-lightblue">Forming Sentences - 2</h1><div class="content" id="experiment-article-section-6-content">
<div style="font-size:25px;">
<b><u>STEP 1:</u></b> Select the type of sentence you want to practice by clicking on <button>Select</button><br/>
<b><u>Compound Sentence</u></b></br>
<b>What to do:</b></br>Select the proper conjunction given above the sentence to complete the compound sentence.<br />
<b><u>Complex Sentence</u></b></br>
<b>What to do:</b></br>Select the proper subordinate clause which when combined with the given independent clause to make a correct Complex sentence.<br />
<!-- <b><u>STEP 2:</u></b> Select t<br/> -->
<!-- <b><u>OUTPUT:</u></b> Group of words in a selected order will be shown<br/><br/> -->
<b><u>NOTE:</u></b>
<!-- <li>If a wrong sentence is formed, <button>Re-form the sentence</button> is available for re-setting.</li> -->
<ol>
<li>You can check whether the formed sentence is a valid or not by clicking <button>submit</button></li>
<li>If you wanna do the experiment again from start than you can click on <button>Restart</button></li>
<!-- <li>For a wrong sentence, you can get the correct sentence by clicking <button>Get correct sentence</button></li> -->
</ol>
</div>						</div>
</div>
			{% endblock %}