{% extends "layout.html" %}
	{% block content %}
<div class="col-md-10 lab-list-col-10">
<h1 class="text-h2-lightblue">Forming Sentences - 2</h1><div class="content" id="experiment-article-section-2-content">
<div style="font-size:25px;">
<b><u style="font-size:30px">Clause</u></b><br/>
A clause typically contains a subject noun phrase and a finite verb. Some languages allow subjects to be omitted. There are two types of subclauses:<br/>
<ol>
<li>independent clause</li>
<li>subordinate clause</li>
</ol>
Independent clause shows the complete meaning in it. For example: Ram eats. A subordinate clause is not a complete sentence. For example: because I am sick. Sentences can also be classified on the basis of clauses.<br/><br>
Classification on the basis of clauses are:<br/>
<ol>
<li>A <b>simple sentence</b> consists of only one independent clause. There are no subordinate clauses.</li>
<li>A <b>compound sentence</b> consists of more than one independent clauses joined ny conjunctions or punctuations. There are no subordinate clauses.</li>
<li>A <b>complex sentence</b> consists of atleast one indpendent clause and a single subordinate clause</li>
<li>A <b>complex-compoundssentence</b> consists of more than one independent clauses and atleast one of the independent clauses has one or more than one subordinate clauses</li>
</ol>
<br/><br/><br/><br/><br/>
</br></div>
</div>						</div>
			{% endblock %}